{% extends 'index.html'%}

{% block content %}


     <form method="post" >{% csrf_token%}
         <select name="course">
            <option selected="selected" disabled>Objects on page </option>
            {% for cr in courses %}

             <option value={{cr.id}}>{{cr.courses}}</option>
            {% endfor %}

         </select>


         <input type="submit" value="select">
     </form><br><br><br><br><br><br><br><br>

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Qualification</th>
        <th>Mail_Id</th>
        <th>Duration</th>
        <th>Joining_Date</th>
        <th>Paid_Amount</th>
        <th>Balance</th>


      </tr>
    </thead>
    <tbody>
    {{students}}
    {%  for stu in students%}
      <tr>
        <td>{{stu.name}}</td>
        <td>{{stu.age}}</td>
        <td>{{stu.qualification}}</td>
        <td>{{stu.mail_id}}</td>
        <td>{{stu.duration}}</td>
        <td>{{stu.joining_date}}</td>
        <td>{{stu.paid_amount}}</td>
        <td>{{stu.balance_amount}}</td>

      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}