{% extends 'index.html'%}
{% block content %}

<div class="container">
  <h2>Vertical (basic) form</h2>
  <form action="{% url 'signup'%}" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="email">name:</label>
      <input type="text" class="form-control" id="email" placeholder="" name="name">
    </div>
    <div class="form-group">
      <label for="pwd1">age:</label>
      <input type="number" class="form-control" id="pwd1" placeholder="" name="age">
    </div>

    <div class="form-group">
      <label for="pw2d">qualification:</label>
      <input type="text" class="form-control" id="pw2d" placeholder="" name="qualification">
    </div>

    <div class="form-group">
      <label for="pwd3">mail id:</label>
      <input type="email" class="form-control" id="pwd3" placeholder="" name="mail">
    </div>

    <div class="form-group">
      <label for="pwd5">duration:</label>
      <input type="number" class="form-control" id="pwd5" placeholder="" name="du">
    </div>

    <div class="form-group">
      <label for="pwd6">joining date:</label>
      <input type="text" class="form-control" id="pwd6" placeholder="" name="join">
    </div>

    <div class="form-group">
      <label for="pwd7">paid amount:</label>
      <input type="number" class="form-control" id="pwd7" placeholder="" name="paid">
    </div>

    <div class="form-group">
      <label for="pwd8">balance:</label>
      <input type="number" class="form-control" id="pwd8" placeholder="" name="balance">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}

